*.zip
*.dat
.idea/*
*.iml
.DS_Store
*.cache
*/tmp
.git/
*.swp
*.bak
*.py
*.exe
*.spec
*.csv
__pycache__/*
build/*
dist/*
.vscode


# メインデータパックの除外
/TheUnusualSkyBlock*

# 未配布データパックを一応除外
Popup
MineChachat
MinechachatHelper
zPatch